/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Keycodes: https://zmk.dev/docs/codes
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT       |   SPACE  |  |   RET   | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | RET  | numbers_layer |   SPACE  |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
			bindings = <
	&kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
	&kp TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp SPACE        &kp RET &kp LSHFT &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
	                 &kp LGUI &kp DEL &kp RET &mo 1 &kp SPACE        &kp RET  &kp SPACE  &kp TAB &kp BSPC &kp RALT
			>;
		};
		numbers_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  F1   |  F2 |  F3  |  F4  |  F5  |  F6  |                                           | F7   |   F8  |  F9   |   F1O |  F11 |  F12 |
// |  TAB  |  1  |  2   |  3   |  4   |  5   |                                           | 6    |   7   |  8    |   9   |  0   |   '  |
// | SHIFT |     |      |      |      |      | L SHIFT |   SPACE   |   |   RET   | L SHIFT |      |       |       |       |      | CTRL |
//                      | GUI  | DEL  | RET  |  SPACE  |   SPACE   |   |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
			bindings = <
	&kp F1   &kp F2 &kp F3 &kp F4 &kp F5 &kp F6                                                &kp F7 &kp F8  &kp F9  &kp F10   &kp F11  &kp F12
	&kp TAB   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                                                &kp N6 &kp N7  &kp N8     &kp N9   &kp N0 &kp SQT
	&kp LSHFT &trans &trans &trans &trans &trans &kp LSHFT &kp SPACE        &kp RET &kp LSHFT &trans &trans &trans &trans &trans &kp RCTRL
	                 &kp LGUI &kp DEL &kp RET &kp SPACE &kp SPACE        &kp RET  &kp SPACE  &kp TAB &kp BSPC &kp RALT
			>;
		};
	};
};
